In [5]:
li=['hi',1,3.5,True]
li # You can see storing various object strings, integers, real numbers, and logical values.

['hi', 1, 3.5, True]

In [6]:
list(range(10)) # Can be created with repeatable objects.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
li=['hi',1,3.5,True,'파이썬']
li[0]# Index starts at zero.

'hi'

In [10]:
li[2]#It can be seen that list slicing is used the same as string slicing.

3.5

In [12]:
li[1:4]

[1, 3.5, True]

In [13]:

li=['hi',1,3.5,True,'파이썬']
li.append(100)#Add 100 at the end.
li

['hi', 1, 3.5, True, '파이썬', 100]

In [14]:
li.insert(3,300) # Enter 300 at the specified index location.
li

['hi', 1, 3.5, 300, True, '파이썬', 100]

In [15]:
li.pop() # Remove the last element.

100

In [16]:
li=['hi',1,3.5,True,'파이썬']
li.pop(3)# Remove the list element of the specified index.

True

In [18]:
t1=(1,2,3)
type(t1)#타입을 확인해 주는 메서드

tuple

In [19]:
t3=tuple([123,3.22,'hi'])
t3 # It's a method to check the type.

(123, 3.22, 'hi')

In [17]:
t4=tuple(range(5))# You can create a tuple with the range
t4[1:3] # You can slice tuple with index.

(1, 2)

In [21]:
# set
s={1,2,3,3,4,5}
s#It is confirmed that duplicate values are not saved.

{1, 2, 3, 4, 5}

In [22]:
s={}# Let's be careful because if you save it with the code on the left, it will be saved as a dictionary.
type(s)

dict

In [26]:
s=set(range(6))
s.add(10)
s.remove(1)
s.discard(1)#Discard doesn't cause an error even if you subtract a number that doesn't exist.
s

{0, 2, 3, 4, 5, 10}

In [27]:
s.remove(1)#Remove is an error if you subtract the missing number.

KeyError: 1

In [28]:
me={'name':'james','age':19} #Create a dic.
print(me['name'])# Check the value using the key value.
me['address']='US'# Save a new value with a new key
print(me)
me.update(age=23)# Use the key value to change the dictionary value.
print(me)
me.pop('address')# Delete the dictionary value using the key value.
print(me)

james
{'name': 'james', 'age': 19, 'address': 'US'}
{'name': 'james', 'age': 23, 'address': 'US'}
{'name': 'james', 'age': 23}